<div class="form-simulation">
  <h3>Add a player:</h3>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input #addPlayer type="text" placeholder="Choose a player" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let player of filteredOptions | async" [value]="player" (onSelectionChange)="selectPlayer(player)">
          {{ player.full_name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <button (click)="submitForm(); addPlayer.value = ''" class="btn btn-default">Add</button>
</div>
