<div id="Matches">
  <div class="round-section">
    <h1>Round {{ roundToDisplay?.id }}
      <span *ngIf="roundToDisplay?.status === 'complete'" class="round-indicator">
        (Round Completed)
      </span>
      <span *ngIf="roundToDisplay?.status === 'active'" class="round-indicator in-progress">
        In Progress
      </span>
    </h1>
    <span class="round-control previous-round" (click)="viewPreviousRound()">
      <span class="arrows">
        ◀︎◀︎
      </span>
      Previous Round
    </span>
    <span class="round-control next-round" (click)="viewNextRound()">
      Next Round
      <span class="arrows">
        ▶︎▶︎
      </span>
    </span>
    <hr>
  </div>
  <h3>Byes:
    <span class="bye-content" *ngFor="let teamWithBye of roundToDisplay?.bye_squads">{{teamWithBye.team_full}} </span>
    <span class="bye-content" *ngIf="roundToDisplay?.bye_squads.length < 1">There are no byes this round.</span>
  </h3>
  <div class="rounds">
    <div class="round" *ngFor='let match of roundToDisplay?.matches'>
        <span class="match-indicator in-progress" *ngIf="match.status === 'playing'">In Progress</span>
        <div class="home">
          <span>{{ match.home_squad_name }}</span>
          <p class="score" *ngIf="match.status !== 'scheduled'">{{ match.home_score }}</p>
        </div>
        <div class="vs">VS</div>
        <div class="away">
          <span>{{ match.away_squad_name }}</span>
          <p class="score" *ngIf="match.status !== 'scheduled'">{{ match.away_score }}</p>
        </div>
        <span class="stadium ">{{ match.venue_name }}</span>
    </div>
  </div>
</div>
