/* You can add global styles to this file, and also import other style files */
.container {
  padding-bottom: 100px;
}

*:focus {
  outline: none;
}

.btn-default:hover {
  background-color: #42b98333 !important;
}
